.content-container {
    width: 670px;
    height: 100%;
    margin: auto;
    border: 2px solid #6da9bb;
    background-color: rgba(0, 0, 0, .5);
    padding: 0 15px 24px 15px;
    border-radius: 6px;
}

.content-container h1 {
    text-align: center;
}