.fetch {
    text-align: center;
    color: #8c8c8c;
    font-size: 24px;
    font-style: italic;
    font-weight: 400;
}

.link.version.list-item {
    display: block;
    background: #36367D;
    color: #fff;
    font-weight: 500;
    font-style: normal;
    font-size: 36px;
    width: 550px;
    margin: 30px auto;
    padding: 18px;
    transition: 200ms;
} .link.version.list-item:hover {
    transform: scale(1.05);
    filter: drop-shadow(15px 8px 0px #00000064)
}