# Stop looking at my gitignore! You'll find out about the keylogger ip grabber ransomware malware trojan spyware adware
furry-stash/
furry-stash/big-buff-men/
dev/
dist/
src/tester.txt
src/testermin.txt
editor/
changelog/